body{
    background-color: lightgreen;
}
h1{
    color: rgb(236, 240, 18);
    text-align:  end;
}
table, th, td {
    border: 3px solid rgb(16, 47, 223);
  }

img{
      border-radius: 10%;
      outline: 2px dashed red;
    
  }

  div {
    display: block;
    background-color: lightskyblue;
    }